<div class="container">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="navbar-nav"  >
            <a class="nav-item nav-link" routerLink="/register">Register</a>
            <a class="nav-item nav-link" routerLink="/update-profile">Update Profile</a>
            <a class="nav-item nav-link" routerLink="/matching">Company Matching</a>
            <a class="nav-item nav-link" >Charts</a>
            <a class="nav-item nav-link" routerLink="/useripo">Planned IPO'S</a>
           <a class="nav-item nav-link"  >Logout</a>
        </div>
    </nav>
</div>