<div class="container">
    <h2>IPO List</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>StockExchage</th>
            <th>price_per_share</th>
            <th>Total_shares</th>
            <th>open_date</th>
            <th>open_time</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of ipos">
            <td>{{p.iid}}</td>
            <td>{{p.cname}}</td>
            <td>{{p.stockExchage}}</td>
            <td>{{p.price_per_share}}</td>
            <td>{{p.total_shares}}</td>
            <td>{{p.open_time| date}}</td>
            <td>{{p.open_time| date:"HH:mm"}}</td>
        </tr>
    </tbody>
</table>
</div>
